@font-face {
  font-family: "Poppins-Bold";
  font-display: swap;
  src: url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Italic";
  font-display: swap;
  src: url("../fonts/Poppins-Italic.woff") format("woff"), url("../fonts/Poppins-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 5;
  padding: 24px 0;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  position: fixed;
  width: 100vw;
  top: 100px;
  background-color: #fff;
  height: 100vh;
  z-index: 100;
  -webkit-transform: translate(-180%);
      -ms-transform: translate(-180%);
          transform: translate(-180%);
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.header__menu__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__item {
  margin: 0 30px 0 0;
}

.menu__link {
  text-transform: uppercase;
  color: #152934;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu__link:hover {
  border-bottom: 1px solid #152934;
}

.menu__item {
  margin-top: 20px;
}

.header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__button .lengSelect > select {
  background-color: #fff;
  font-family: "HelveticaNowDisplay-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #152934;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  padding: 5px;
}

.header__button .lengSelect > select > option {
  border: none;
  outline: none;
  border-radius: 6px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.btn__burger {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50%;
}

.button__burger span {
  background-color: #000;
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}

.btn__burger_elem0 {
  top: 32%;
  -webkit-transform: translate(5%, -10%);
      -ms-transform: translate(5%, -10%);
          transform: translate(5%, -10%);
}

.btn__burger_elem1,
.btn__burger_elem2 {
  -webkit-transform: translate(5%, -50%);
      -ms-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
  top: 19px;
}

.btn__burger_active .btn__burger_elem0,
.btn__burger_active .btn__burger_elem3 {
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.btn__burger_active .btn__burger_elem1 {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 25%;
}

.btn__burger_active .btn__burger_elem2 {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  left: 25%;
}

.btn__burger_elem3 {
  bottom: 32%;
}

.menu._activeMenu {
  -webkit-transform: translate(-2%);
      -ms-transform: translate(-2%);
          transform: translate(-2%);
}

.menu__link {
  font-size: 18px;
  font-family: "HelveticaNowDisplay-Medium", sans-serif;
  color: #4d533c;
  font-weight: 600;
}

/*==================================================*/

.hidden {
  overflow: hidden;
}

.get-started {
  /*  background-image: url("../img/3D-modern-house_Z.png");*/
  /* background-color: $c-white;
   /* background-repeat: no-repeat;*/
  /*  background-position: 50% 50%;
    &__container {
        display: flex;
        flex-direction: row;
    }
    &__contant {
    }
    &__block-text {
    }*/
  background-image: url("../img/Slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.block-text {
  padding-top: 188px;
  padding-bottom: 211px;
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.block-text__title {
  padding-top: 22px;
  font-family: "Poppins-Bold";
  font-size: 60px;
  line-height: 74px;
  color: #FFFFFF;
  max-width: 563px;


  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s ;
}

.block-text__title._active{
  transform: translate(0px, 0px);
  opacity: 1;
}



._anim-show{
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s ;

}
._anim-show._active,
._active ._anim-show{

  transform: translate(0px, 0%);
  opacity: 1;
  

}



.block-text__subtext {
  padding-top: 24px;
  font-size: 16px;
  line-height: 26px;
  max-width: 546px;
}

.block-text__linck {
  padding-top: 45px;
  display: block;
  color: #FFD723;
  font-size: 16px;
  line-height: 18px;
}

/*.strategy {
}*/

.strategy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/*.strategy__design {
}*/

.design {
  -ms-flex-preferred-size: 475px;
      flex-basis: 475px;
}

.design__forY {
  padding-top: 244px;
  font-family: "Poppins-regular", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #4D533C;
}

.design__title {
  padding-top: 29px;
  font-family: "Poppins-bold", sans-serif;
  font-size: 36px;
  line-height: 46px;
  max-width: 387px;
  color: #4D533C;
}

.design__text {
  padding-top: 35px;
  font-family: "Poppins-regular", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #7A888E;
}

.design__linck {
  display: block;
  padding-top: 42px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Poppins-regular", sans-serif;
  color: #D4D6D4;
  padding-bottom: 183px;
}

.opinion {
  -webkit-box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  -ms-flex-preferred-size: 474px;
      flex-basis: 474px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opinion__text {
  padding-top: 244px;
  font-family: "Poppins-Italic";
  font-size: 24px;
  line-height: 40px;
  color: #4D533C;
  max-width: 400px;
}

.opinion__person {
  margin-bottom: 60px;
}

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 403px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.person__pthoto {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.person__name {
  font-family: "Poppins-bold", "sans-serif";
  font-size: 22px;
  line-height: 33px;
  color: #4D533C;
}

.person__position {
  padding-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  color: #152934;
  font-family: "Poppins-regular", sans-serif;
}

.person__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30px;
}

.awesomrProject-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 104px;
}

.awesomrProject__title {
  /*padding-top: 150px;
  padding-bottom: 104px;*/
  max-width: 325px;
  font-family: "Poppins-bold";
  font-size: 36px;
  line-height: 54px;
  color: #4D533C;
}

.awesomrProject-block-2 {
  margin-left: 133px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.awesomrProject__text {
  max-width: 471px;
  font-family: "Poppins-regular";
  font-size: 16px;
  line-height: 26px;
  color: #7A888E;
}

/*
.awesomrProjec__container {
}
.awesomrProject-content {
}
.awesomrProject-block-1 {
}
.awesomrProject__title {
}
.awesomrProject-block-2 {
}
.awesomrProject__text {
}*/

.block-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.block-project__wrepper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.opinion-product {
  background-color: #fff;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
  max-width: 453px;
  padding: 30px;
  position: absolute;
  right: -40px;
  top: 372px;
  /*@media screen and (max-width: 400px)
  {

      &>.opinion-product__text{
          max-width: 300px;
      }
  }*/
}

.opinion-product__text {
  font-family: "Poppins-Italic";
  font-size: 16px;
  line-height: 26px;
  color: #4D533C;
}

.wrepper-personOpinion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

.personOpinion-info {
  margin-left: 14px;
}

.personOpinion-info__name {
  font-family: "Poppins-bold";
  font-size: 16px;
  line-height: 24px;
  color: #4D533C;
}

.personOpinion-info__position {
  font-family: "Poppins-regular";
  font-size: 14px;
  line-height: 21px;
  color: #152934;
}

.block-project__text-wrepper {
  margin-left: 56px;
}

.block-project__text-title {
  font-family: "Poppins-bold";
  max-width: 304px;
  font-size: 36px;
  line-height: 48px;
  padding-top: 80px;
  font-size: 36px;
  color: #4D533C;
}

.block-project__text > p {
  font-family: "Poppins-Regular";
  font-size: 16px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  max-width: 411px;
}

.block-project__text {
  padding-top: 32px;
}

.block-project__text-btn {
  font-family: "Poppins-Regular";
  padding-top: 90px;
  font-size: 16px;
  line-height: 18px;
  display: block;
  width: 150px;
  color: #D4D6D4;
  padding-bottom: 237px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}

.block-project__text-btn:hover {
  color: #FFD723;
}

.block-project__imgWrepper {
  /*background-image: url('../img/Image.jpg');
  background-repeat: no-repeat;*/
  position: relative;
  /* background-size: cover;*/
}

.block-project__picher {
  width: 100%;
}

.opinion-product-honest {
  left: -40px;
  max-width: 80%;
  /* @media screen and (max-width: 650px)
   {
       padding: 22px 10px 62px;
       left: 5px;

   }
   @media screen and (max-width: 400px)
   {

       &>.opinion-product__text{
           max-width: 300px;
       }
   }*/
}

@-webkit-keyframes Flow {
  0% {
    top: 372px;
  }

  50% {
    top: 400px;
  }

  100% {
    top: 372px;
  }
}

@keyframes Flow {
  0% {
    top: 372px;
  }

  50% {
    top: 400px;
  }

  100% {
    top: 372px;
  }
}

.block-project__wrepper-honest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.block-project__text-wrepper-honest {
  margin: 0;
  margin-right: 72px;
}

.block-project__wrepperIMG-honest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.evaluation_title {
  font-family: "Poppins-bold";
  max-width: 670px;
  line-height: 46px;
  color: #4D533C;
  padding-top: 149px;
  font-size: 36px;
}

.evaluation__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.evaluation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
}

.evaluation__item-title {
  font-family: "Poppins-Medium";
  font-size: 24px;
  line-height: 34px;
  color: #4D533C;
  max-width: 183px;
  font-size: 24px;
}

.evaluation__item-text {
  margin-top: 20px;
  font-family: "Poppins-regular";
  font-size: 14px;
  line-height: 26px;
  color: rgba(33, 56, 66, 0.6);
  max-width: 197px;
}

.evaluation__item-linck {
  display: block;
  font-family: "Poppins-regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #D4D6D4;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  margin-top: 30px;
}

.evaluation__item-linck:hover {
  color: #FFD723;
}

.evaluation span {
  display: block;
}

.item_innerwrepper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brends {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  height: 180px;
}

.brends-content {
  max-width: 1276px;
  background-color: #fbfbfb;
  -webkit-box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
          box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  position: absolute;
  top: -100px;
}

.brends-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 60px;
}

.brends-list__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 156px;
          flex: 0 0 156px;
}

.brends-list__item:last-child {
  margin-right: 166px;
}

.brends-list__item {
  margin-left: 66px;
}

.brends-list__item-img {
  width: 100%;
}

/*@import "slider";
@import "questions";*/

.footer {
  background-image: url("../img/bg-footer.png");
  background-size: cover;
  /*&__container {
      border-top: 1px solid $c-darckLight;
      display: flex;
      flex-direction: row;
      justify-content: space-between;


      @media screen and (max-width: $md-4+px){
          &{ 
              flex-direction: column;
          }}


  }*/
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-block-1 {
  margin-top: 120px;
  border-bottom: 1px solid #5D6544;
}

.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__logo {
  position: relative;
  z-index: 5;
  padding: 38px 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 119px;
          flex: 0 1 119px;
}

.contact_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 128px;
}

.contact__item-title {
  font-family: "Poppins-regular";
  font-size: 16px;
  line-height: 40px;
  color: #B6C197;
}

.contact__item-contact {
  font-family: "Poppins-bold";
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
}

.contact span {
  display: block;
}

.footer-block-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 66%;
      flex-basis: 66%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-footer__titleWrepper {
  /*font-family: 'HelveticaNowDisplay-Medium';
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: $c-darckLight;
  @include adaptive-value( 'font-size', 16, 12, 1);*/
}

.menu-footer__title {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  /* identical to box height, or 238% */
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu-footer__link {
  font-family: "Poppins-regular";
  line-height: 40px;
  border-bottom: 1px solid transparent;
  color: #B6C197;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  font-size: 16px;
}

.menu-footer__link:hover {
  border-bottom: 1px solid #B6C197;
}

.cross-Block {
  position: relative;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 3px;
  display: none;
}

.cross-Block__elem {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-transition: ranslate(-50%, -50%);
  -o-transition: ranslate(-50%, -50%);
  transition: ranslate(-50%, -50%);
}

.cross-Block__elem:nth-child(2) {
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.cross-Block__elem:nth-child(2).cross-open {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.cross-Block__elem.cross-open {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

/*<div class="menu-footer__titleWrepper"> 
                    <p class="menu-footer__title">Social</p>
                    <div class="cross-Block"> 
                        <div class="cross-Block__elem"></div>
                        <div class="cross-Block__elem"></div>
                    </div>  
                </div>*/

.footer-block-3 {
  border-top: 1px solid #5D6544;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copuright {
  font-family: "Poppins-regular";
  font-size: 14px;
  line-height: 21px;
  color: #B5C096;
}

.social {
  margin: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.social-title {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  color: #FFFFFF;
}

.social-text {
  font-family: "Poppins-regular";
  max-width: 257px;
  font-size: 16px;
  line-height: 26px;
  color: #B6C197;
}

.social-email {
  font-family: "Poppins-bold";
  line-height: 38px;
  color: #FFFFFF;
  font-size: 24px;
}

.social-lincks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: "HelveticaNowDisplay-Medium";
  font-size: 12px;
  color: #616161;
}

.wrepper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/*.button {
    background: $c-activ;
    color: #fff;
    border-radius: 6px;
    font-family: "CabinetGrotesk-Bold";

    font-size: 16px;
    line-height: 20px;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.4s;
}*/

/*.button:hover {
    //background: #743a0c;
}
/*.lengSelect {
    display: flex;
    margin: 0 30px 0 0;
    cursor: pointer;
    font-family: "HelveticaNowDisplay-Medium";
}
.lengSelect:active {
    border: none;
}*/

@media screen and (max-width: 1420px) {
  .opinion-product {
    top: 260px;
  }
}

@media screen and (max-width: 1255px) {
  .brends {
    display: none;
  }
}

@media (max-width: 1140px) {
  .menu__link {
    font-size: calc(12px + 6 * ((100vw -320px) /1140 -320));
  }

  .block-text__title {
    font-size: calc(24px + 36 * ((100vw -320px) /1140 -320));
  }

  .block-text__title {
    line-height: calc(34px + 40 * ((100vw -320px) /1140 -320));
  }

  .opinion-product {
    top: calc(70px + 302 * ((100vw -320px) /1140 -320));
  }

  .block-project__text-title {
    font-size: calc(18px + 18 * ((100vw -320px) /1140 -320));
  }

  .block-project__text > p {
    font-size: calc(14px + 2 * ((100vw -320px) /1140 -320));
  }

  .evaluation_title {
    font-size: calc(20px + 16 * ((100vw -320px) /1140 -320));
  }

  .evaluation__item-title {
    font-size: calc(18px + 6 * ((100vw -320px) /1140 -320));
  }

  .menu-footer__link {
    font-size: calc(12px + 4 * ((100vw -320px) /1140 -320));
  }

  .social-email {
    font-size: calc(15px + 9 * ((100vw -320px) /1140 -320));
  }
}

@media screen and (max-width: 1140px) {
  .opinion-product {
    top: 260px;
  }
}

@media screen and (max-width: 1000px) {
  .awesomrProject-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .awesomrProject-content .awesomrProject__text {
    margin-top: 20px;
  }

  .opinion-product {
    top: 200px;
  }

  .block-project__text-title {
    padding: 15px;
  }

  .block-project__text {
    padding: 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .footer-block-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-block-2 .social {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .footer-block-2 .menu-footer {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5px 0;
  }

  .menu-footer__title {
    font-size: 16px;
    display: block;
    padding: 5px 10px;
  }

  .menu-footer__titleWrepper {
    color: #fff;
    border-radius: 6px;
    font-family: CabinetGrotesk-Bold;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .menu-footer__list {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding-bottom: 10px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
  }

  .menu-footer__list.acative-spoller {
    opacity: 1;
    height: auto;
    overflow: visible;
  }

  .menu-footer__item {
    padding: 8px 6px;
  }

  .menu-footer__titleWrepper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .cross-Block {
    display: block;
  }
}

@media screen and (max-width: 991.98px) and (max-width: 1140px) {
  .menu-footer__title {
    font-size: calc(12px + 4 * ((100vw -320px) /1140 -320));
  }
}

@media screen and (max-width: 650px) {
  .awesomrProject-block-2 {
    margin-left: 0;
  }

  .block-project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-project:not(:first-child) {
    margin-top: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-project:last-child {
    margin-bottom: 200px;
  }

  .block-project__wrepper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .opinion-product {
    padding: 22px 10px 62px;
    left: 5px;
    top: 260px;
  }

  .block-project__text-title {
    margin: 0;
  }

  .block-project__text-btn {
    padding-bottom: 15px;
    padding: 20px;
    width: 200px;
  }

  .block-project__imgWrepper {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .opinion-product-honest .block-project__text-btn {
    padding-bottom: 15px;
    padding: 20px;
    padding-left: 10px;
    width: 200px;
  }

  .evaluation__container {
    margin-top: 0%;
  }
}

@media screen and (max-width: 650px) and (max-width: 571px) {
  .block-project:not(:first-child) {
    margin-top: 0px;
  }

  .block-project:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 630px) {
  .evaluation__item-title {
    text-align: center;
    max-width: 100%;
  }

  .evaluation__item-text {
    text-align: center;
    max-width: 100%;
  }

  .evaluation__item-linck {
    text-align: center;
    max-width: 100%;
  }
}

@media screen and (max-width: 571px) {
  .opinion-product {
    display: none;
  }

  .block-project__text-wrepper {
    margin: 0;
  }
}

@media (max-width: 479.98px) {
  .header__logo {
    width: 55px;
    overflow: hidden;
    display: block;
  }
}

@media screen and (max-width: 479.98px) {
  .footer__contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45px;
            flex: 0 1 45px;
    overflow: hidden;
  }
}

@media screen and (max-width: 400px) {
  .footer-block-3 {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer-block-3 .copuright {
    padding: 20px 0;
  }
}

.webp .get-started { background-image: url(../img/Slider.webp); }

.webp .footer { background-image: url(../img/bg-footer.webp); }